@import url('./variables.css');

.zelose-banner {
    color: rgb(216, 213, 208);
    display: flex;
    height: var(--hauteur-banniere);
}

.zelose-titre-div {
    display: flex; /* Permet de centrer l'image horizontalement */
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    width: 100%; /* Pour que la div occupe toute la largeur */

}

.zelose-logo {
    width: 200px;
    z-index: 500;
}

.zelose-titre{
    height: calc(var(--hauteur-banniere) - 30px);
    z-index: 500;
}